:root {
    --pico-font-family: "DM Sans", sans-serif;
}


/* Can be forced with data-theme="light"*/
[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color: #E5E5E5;
    /*Main Backgroud*/
    /*Override standard pico orange theme*/
    --pico-text-selection-color: rgba(224, 78, 15, 0.25);
    --pico-primary: #FF5711;
    --pico-primary-background: #ff5107;
    --pico-primary-underline: rgba(200, 63, 21, 0.5);
    --pico-primary-hover: #942d0d;
    --pico-primary-hover-background: #FF5711;
    --pico-primary-focus: rgba(224, 78, 15, 0.5);
    --pico-primary-inverse: #fff;
}

.mono-font {
    font-family: "DM Mono";
}

.orange-font {
    color: #FF5711;
}

.centered-text {
    text-align: center;
}

.center-items {
    align-items: center;
}

section {
    padding-bottom: 8rem;
}

.p-b-2 {
    padding-bottom: 2rem;
}

.p-b-6 {
    padding-bottom: 6rem;
}

.p-h-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 768px) {
    .hero-image {
        padding-left: 10%;
    }
}