:root {
    --pico-font-family: "DM Sans", sans-serif;
}

/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color: #E5E5E5;
    --pico-text-selection-color: rgba(244, 93, 44, 0.25);
    --pico-primary: #FF5711;
    --pico-primary-background: #E5E5E5;;
    --pico-primary-underline: rgba(189, 60, 19, 0.5);
    --pico-primary-hover: #942d0d;
    --pico-primary-hover-background: #bd3c13;
    --pico-primary-focus: rgba(244, 93, 44, 0.5);
    --pico-primary-inverse: #fff;
}

.mono-font {
    font-family: "DM Mono";
    color: #FF5711;
}

.centered-text {
  text-align: center;
}
