:root {
    --pico-font-family: "DM Sans", sans-serif;
}


/* Can be forced with data-theme="light"*/
[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color: #E5E5E5;
    /*Main Backgroud*/
    /*Override standard pico orange theme*/
    --pico-text-selection-color: rgba(224, 78, 15, 0.25);
    --pico-primary: #FF5711;
    --pico-primary-background: #ff5107;
    --pico-primary-underline: rgba(200, 63, 21, 0.5);
    --pico-primary-hover: #942d0d;
    --pico-primary-hover-background: #e35012;
    --pico-primary-focus: rgba(224, 78, 15, 0.5);
    --pico-primary-inverse: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --pico-font-weight: 400;
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
    --pico-font-weight: 300;
}

b,
strong {
    font-weight: 500;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.mono-font {
    font-family: "DM Mono";
}

.orange-font {
    color: #FF5711;
}

.white-font {
    color: #fff;
}

.light-grey-font {
    color: rgb(229, 229, 229);
}

.centered-text {
    text-align: center;
}

.center-items {
    align-items: center;
}

.black-background {
    background-color: #000;
}

section {
    padding-bottom: 8rem;
}

.m-t-05 {
    margin-top: .5rem;
}

.m-0 {
    margin: 0;
}

.p-r-4 {
    padding-right: 4rem;
}

.p-t-4 {
    padding-top: 4rem;
}

.p-t-8 {
    padding-top: 8rem;
}

.p-b-0 {
    padding-bottom: 0rem;
}

.p-b-2 {
    padding-bottom: 2rem;
}

.p-b-4 {
    padding-bottom: 4rem;
}

.p-b-6 {
    padding-bottom: 6rem;
}

.p-h-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.border-top {
    border-top: 1px solid grey;
}

@media (min-width: 768px) {
    .hero-image {
        padding-left: 10%;
    }
}